@import "../../../style/custom"
.technology
  height: auto
  min-height: 100vh
  padding: unset
  &__header
    display: flex
    width: 100%
    height: 100%
    justify-content: center
    align-items: center
    text-align: center
    margin: 0 auto 32px
  section
    min-height: unset
    height: unset
    padding: unset

  .title__number
    margin-right: 16px
    font-weight: bold
    color: rgba(255,255,255,0.25)
    letter-spacing: 2.7px
  hr
    color: rgba(255,255,255,0.25)

  picture
    // display: flex
    // justify-content: center
    // align-items: flex-end
    display: block

    height: 170px
    width: 100%
    margin-bottom: 32px

    img

      height: 100% !important
      width: 100% !important
      // object-fit: contain !important
      // object-position: bottom !important
      // aspect-ratio: 1/1

  ul
    list-style: none
    display: flex
    justify-content: center
    gap: 12px
    margin-bottom: 20px
    .circle
      position: relative

    .menu__item
      width: 40px
      height: 40px
      // width: 100%
      // height: auto
      display: flex
      justify-content: center
      align-items: center

      border-radius: 50%
      border: 1px solid rgba(255,255,255,0.25)
      background-color: transparent
      transition: 0.3s all ease-in-out

      &.active
        border-radius: 50%
        background-color: #fff
        color: $primary
      &:hover
        background-color: #fff

  .subitem
    :first-child
      margin-bottom: 8px
  h3, h4
    margin-top: 0
    margin-bottom: 0
  .column, .row
    &>*
      margin-bottom: 1.5rem
  .role
    font-family: $belle
    text-transform: uppercase
    font-size: 16px
    color: rgba(255,255,255,0.5)
  .name
    font-family: $belle
    text-transform: uppercase
    font-size: 25px
  p
    padding: 0 24px 32px 24px

  .nav__text-small
    font-size: 14px
    letter-spacing: 2.36px
    text-transform: uppercase
  @include tablet
    .technology__header
      justify-content: flex-start
      display: flex
      width: 100%
      height: 118px
      align-items: center
      margin-top: 32px
      padding-left: 24px
    picture
      height: 310px
      display: block
      margin-bottom: 56px !important
    ul
      margin-bottom: 44px !important
      .menu__item
        width: 60px
        height: 60px
    p
      width: 458px
      margin: 0 auto
