@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&family=Bellefair&display=swap')
// Breakpoints
$mobile: 415px
$desktop: 1440px
// Colors
$primary: hsl(230°, 35%, 7%)
$secondary: hsl(231°, 77%, 90%)
$light: hsl(0°, 0%, 100%)
// fonts
$barlow: 'Barlow Condensed', sans-serif
$belle: 'Bellefair', serif
// Styles
.heading1
  font-family: $belle
  font-size: 150px
.subheading1
  font-family: $belle
  font-size: 28px
.heading2
  font-family: $belle
  font-size: 100px
.subheading2
  font-family: $barlow
  font-size: 14px
  font-kerning: 2.35
.heading3
  font-family: $belle
  font-size: 56px
.heading4
  font-family: $belle
  font-size: 32px
.heading5
  font-family: $barlow
  font-size: 28px
  font-kerning: 4.75
nav
  &__text
    font-family: $barlow
    font-size: 16px
    font-kerning: 2.7
body
  font-family: $barlow
  font-size: 18px

h1
  .heading1
h2
  .heading2
h3
  .heading3
h4
  .heading4
h5
  .heading5
